@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat&family=Poppins&family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    background-color: #ffffff;
}


/* Styles de la barre de navigation */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* Styles des liens dans la barre de navigation */
nav a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #009EDC;
    margin: 20px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;

}

nav a:hover {
    text-decoration: underline;
}

#nom_art {
    font-size: 50px;
    font-family: Cinzel;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo img {
    object-fit: contain;
}

#img_parc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 552px;
    background-image: url(../images/parc/parc_bg_header.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 23px;
    font-weight: bolder;
}

/* CSS DE PRESENTATION */

.m4_pres{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin:40px;
    font-style: italic;

}

.m4_pres div{
    width: 1035px;
}
/* FIN CSS DE PRESENTATION*/

/* SECTION 1 IMGR + TXTL ESPACE VERT */
.m4_imgR_textL_sec1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.m4_textL_sec1 {
    display: flex;
    flex-direction: column;
    width: 770px;
}

.m4_textL_sec1 div  {
    margin: 10px;
}

.m4_textL_sec1 h2 {
    font-size: 40px;
}

.m4_textL_sec1 h3 {
    font-size: 30px;
}

.m4_textL_sec1 h2, .m4_textL_sec1 h3  {
    margin-bottom: 10px;
}

.m4_imgR_sec1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 665px;
    margin-bottom: 0;
    gap: 30px;
    align-content: center;
}

.m4_imgR_sec1 div{
    height: 312px;
}

.m4_imgR_sec1 img {
    height: 312px;
    width: 312px;
    border-radius: 10px;
}
/* FIN SECTION 1 IMGL + TXTR ESPACE VERT */

/********************************************************************/

/* SECTION 2 IMGL + TXTR ESPACE VERT */

.m4_imgL_textR_sec2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}

.m4_textR_sec2 {
    display: flex;
    flex-direction: column;
    width: 760px;
}

.m4_textR_sec2 div  {
    margin: 20px;
}

.m4_textR_sec2 h2 {
    font-size: 35px;
}

.m4_textR_sec2 h3 {
    font-size: 30px;
}

.m4_textR_sec2 h2, .m4_textR_sec2 h3  {
    margin-bottom: 10px;
}

.m4_imgL_sec2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 653px;
    margin-bottom: 0;
    gap: 30px;
    align-content: center;
}


.m4_imgL_sec2 img {
    width: 653px;
    border-radius: 10px;
}

/* SECTION 2 IMGL + TXTR ESPACE VERT */

/********************************************************************/

/* START SECTION 1TXT - 1IMG  */

.m4_1txt_1img {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}

.m4_1txt{
    display: flex;
    flex-direction: column;
    width: 760px;
}

.m4_1txt h2 {
    margin: 20px;
    font-size: 35px;
    font-weight: 900 ;
}

.m4_1txt p {
    margin: 20px;
}

.m4_1img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 653px;
    margin-bottom: 0;
    align-content: center;
}

.m4_1img img {
    height: 490px;
    width: 653px;
    border-radius: 10px;
}

.m4_1txt div {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
    margin: 20px;
}

.m4_1txt button{
    height: 40px;
    width: 382px;
    background-color: #009EDC;
    color: #ffffff;
    text-decoration: none;
}


.m4_1txt a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

/* START SECTION 1TXT - 1IMG */


/* SECTION 4 IMGL + TXTR ESPACE VERT */

.m4_imgL_textR_sec4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}

.m4_textR_sec4 {
    display: flex;
    flex-direction: column;
    width: 816px;
}

.m4_textR_sec4 div  {
    margin: 20px;
}

.m4_textR_sec4 h2 {
    font-size: 35px;
}

.m4_textR_sec4 h3 {
    font-size: 30px;
}

.m4_textR_sec4 h4, .m4_textR_sec4 h3  {
    margin-bottom: 10px;
}

.m4_imgL_sec4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 653px;
    margin-bottom: 0;
    gap: 30px;
    align-content: center;
}


.m4_imgL_sec4 img {
    width: 653px;
    height: 367px;
    border-radius: 10px;
}

/* SECTION 4 IMGL + TXTR ESPACE VERT */


/********************************************************************/

/* FOOTER SECTION*/

.park_address{
    font-style: italic;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

.socialIcons a i {
    font-size: 2em;
    color: #009EDC;
    opacity: 0.9;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav ul,
.footerNav li,
.footerNav a {
    margin: 20px;
    text-decoration: none;
    font-size: 1.1em;
    transition: 0.5s;
    list-style-type: none;
    color: #009EDC;
    text-transform: uppercase;
}

.footerBottom p {
    text-align: center;
    margin: 20px;
}

.footerNav a:hover {
    text-decoration: underline;
}

/* FOOTER SECTION*/